/* A mãe de todos */
.main_login {
    display: flex;
    height: 100vh;
}


/* Banner da  Esquerda: */
.banner {
    background-image: url("../../assets/img/fundoLogin.png");
    flex: 1;

    /* Modificar algumas características da imagem */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


/* Form de Login da direita: */
.section_login {
    flex: 1;

    background-color: #CC3F55;


    /* Centraliza o campo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_login {
    color: white;

    height: 50%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.form_login h1 {
    /* Vai deixar o titúlo com letra maiúsculas */
    text-transform: uppercase;
}

.campos_login {
    width: 100%;
}

.campo_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

.campo_input input {
    height: 30px;
    padding: 0 10px;

    border: none;
    outline: none;
    border-radius: 7px;
    box-shadow: 4px 4px 4px 4px #0000002b;
}

/* Responsive */

/* Me e de algumas  características a partir de um tamanho de tela */
@media screen and (max-width: 768px) {
    /* 0px -> 768px */
    .banner{
        /* Desaparece o banner lateral */
        display: none;  
    }
}