footer {
    background-color: #CC3F55;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px 0 10px;

    height: 40px;
}